@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0px;
  margin: 0px;
  color: var(--branco);
  font-family: var(--fonte);
}

:root {
  --azul: #0033dd;
  --branco: #ffffff;
  --fonte: "Barlow", sans-serif;
}

header {
  background-color: var(--azul);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 31px 30px 16px 20px;
}

#menu {
  padding: 0px 62px;
  display: flex;
  list-style: none;
  text-transform: uppercase;
  justify-content: space-between;
  width: 100%;
}

#menu > li {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

#menu > li:hover {
  text-decoration: underline;
}

header > button {
  color: var(--azul);
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  margin-right: 20px;
}

#boas-vindas {
  display: flex;
  flex-direction: column;
  background-image: url(../imagens/bg_banner1.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#boas-vindas {
  padding: 144px 330px 40px 330px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../imagens/bg_banner1.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#boas-vindas > h1 {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
}

#boas-vindas > button {
  padding: 8px;
  color: #d9d9d9;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  background: #03d;
  border: none;
  margin-bottom: 150px;
}

#conteudo {
    background-color: #202020;
    padding: 0px 32px;
    display: grid;
    grid-template-columns: auto auto;
}

.texto-informativo {
  display: flex;
  flex-direction: column;
}

.topico-informacao {
  color: #fff;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: ;
}
